<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Challenge</h1>
      <p class="lead">Hecho por Federico Saboredo</p>
      <hr class="my-4">
      <p>Mi información de contacto:</p>
      <ul class="list-unstyled">
        <li>
          <i class="fas fa-envelope"></i>
          <a href="mailto:federicosaboredo04@gmail.com">federicosaboredo04@gmail.com</a>
        </li>
        <li>
          <i class="fas fa-phone"></i>
          <a href="tel:+541121609806">+54 11 21609806</a>
        </li>
        <li>
          <i class="fab fa-github"></i>
          <a href="https://github.com/Xenock20/Challenge_Angular" target="_blank">GitHub</a>
        </li>
        <li>
          <i class="fab fa-linkedin"></i>
          <a href="https://www.linkedin.com/in/federico-saboredo-a55131248/" target="_blank">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
  